.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    background-color: #6c757d;
    background-image: url(https://img.freepik.com/free-photo/top-view-desk-concept-with-notepad_23-2148604955.jpg?t=st=1721461032~exp=1721464632~hmac=6781755a5e2687ac6ad94ff9938843a611192b3b9ee97140388fc713f09c3181&w=1060);
    /* background-size: contain; */
   background-size: cover;
   background-image: center;
   background-attachment: fixed;
    background-repeat: no-repeat;
    /* width: 100vh;
    height: 100vh; */
}
#calculater{
    border: 2px solid #d3d3d3;
    /* height: 80px; */
    width: 200px;
    /* height: 500px; */
    border-radius: 10px;
    transform: scale(1.2);
    margin-top: 28px;
    margin-right:120px;

    /* text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; */
}
#display{
    margin: 13px 14px 33px 17px; 
    font-size: 41px;
    padding:0px;
    width: 82%;
    background-color: #333533;
    color: #d3d3d3;
    border: 1px solid #99e2b4;
}
.button{
    height: 50px;
    width: 50px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 32px;
}
#keypad{
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
#id,#id1,#id2,#id3,#id4,#id5{
    background-color: #ffbe0b;
}
#id6,#id7,#id8,#id9,#id10 ,#id11{
background-color: #8d99ae;
}
#id12,#id13,#id14,#id15,#id16{
    background-color: #b392ac;
}
@media screen  and (min-width: 388px) and (max-width: 844px) {
    .body
    {
        background-image: url(https://img.freepik.com/free-photo/back-school-decoration-with-pencils-calculator-space_23-2147662344.jpg?w=996&t=st=1721464568~exp=1721465168~hmac=6fd44b3eb7b6cbb23db90250d66fe10d3e3abe10feee44857fc135e5da129a74);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin-left: 70px;
        background-color: #6c757d;
    }
}
@media screen  and (min-width: 388px) and (max-width: 844px) {
    #calculater
    {
        
        
        /* margin-left: 70px; */
        background-color: #6c757d;
    }
}